@charset "UTF-8";
body, p, dl, dd, ul, ol, li, div, h1, h2, h3, h4, h5, h6, form, input, table, tr, td {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  font-family: "微软雅黑",Arial;
  background: url(../img/timg.jpg) no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  text-decoration: none;
  display: block; }

p {
  display: inline-block;
  display: block; }

span {
  display: block; }

input {
  outline: none; }

h3, h4 {
  font-weight: 100; }

.hh1 {
  color: #f5f5f5; }
