.big-top{
    width: 100%;
    overflow: hidden;
}
.xy-top{
    overflow: hidden;
    width: 100%;
}
.xy-l{
    width: 100%;
}
.big-form{
    width: 100%; 
    background: #5f5f5f;
    overflow: hidden;
    margin-bottom: 20px;
}
.title{
    padding:2px 0 0 15px;
    position: relative;
    background-color: #6a6a6a;
}
.form-i{
    display: inline-block;
    width: 10px;
    height: 15px;
    border: 1px solid #fff;
    background: #5f5f5f;
    margin-right: 5px;
}
.form-s{
    font-size: 24px;
    color:#fff;
    margin:5px 0;
    display: inline-block;
}
.form-bq{
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url(../img/paint_bucket.png) no-repeat center;
    background-color: #5f5f5f;
    position: absolute;
    right: 0;
    top: 0;
}
.section-top{
    overflow: hidden;
    padding: 12px 15px 18px 15px;
    background: #6a6a6a;
    margin-bottom:5px;
}
.form-sec{
    height: 400px;
}
.big-bar{
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}
.bar{
    width: 70%;
    float: left;
    background-color: #5f5f5f;
    margin-bottom: 20px;
}
.pie{
    width: 29%;
    float: right;
    background-color: #5f5f5f;
    margin-bottom: 20px;
}
.bar-b,.pie-b{
    height: 306px;
}
.bar2{
    width: 29%;
}
.pie2{
    width: 70%;
}
@media screen and (max-width:1080px){
    .big-bar{
        flex-direction: column;
    }
    .bar,.pie{
        width: 100%;
    }
}